# Challenge Nubimetrics - Escobar Aldo

In [1]:
import pandas as pd
import urllib.request
import re
from bs4 import BeautifulSoup

## Funcion mapper que asigna la marca correspondiente a la row segun el titulo.

In [2]:
def mapper(list_values):
    for key, values in dict_brands.items():
        if any(value in list_values for value in values):
            return key
    return 'otros'

## Función para normalizar strings (lo hace minúscula y realiza ciertas correcciones como acentos o caracteres especiales mediante una expresión regular)

In [3]:
def normalize(string):
    return re.sub("[^0-9a-zA-Z]+", " ", string.lower())

## Data Scraping

Realizo un scrapping de datos de gsmarena, la cual contiene un listado de marcas de celulares. El data set contiene otras marcas, las cuales quizás sean imitaciones o marcas nacionales, por lo que decidí agregarlas a mano en una lista, con un previo análisis sobre el filtrado de datos que realicé, para ir sacando estas marcas adicionales del label "otros". Se podría adicionar datasets de marcas de celulares extranjeros, teniendo en cuenta la posibilidad de venta de estos en el país. De los nacionales e imitaciones no pude encontrar dataset, por lo que decidí agregarlos en una lista, como mencioné anteriormente.

In [4]:
brands_gsmarena = []
brands_page = 'https://www.gsmarena.com/makers.php3'
webpage = urllib.request.urlopen(brands_page)
soup = BeautifulSoup(webpage, 'html.parser')
table = soup.find_all('table')[0]
table_a = table.find_all('a')
for a in table_a:
    temp = a['href'].split('-')[0]
    brands_gsmarena.append(temp)
brands_gsmarena

['acer',
 'alcatel',
 'allview',
 'amazon',
 'amoi',
 'apple',
 'archos',
 'asus',
 'at&t',
 'benefon',
 'benq',
 'benq_siemens',
 'bird',
 'blackberry',
 'blackview',
 'blu',
 'bosch',
 'bq',
 'casio',
 'cat',
 'celkon',
 'chea',
 'coolpad',
 'dell',
 'emporia',
 'energizer',
 'ericsson',
 'eten',
 'fujitsu_siemens',
 'garmin_asus',
 'gigabyte',
 'gionee',
 'google',
 'haier',
 'honor',
 'hp',
 'htc',
 'huawei',
 'i_mate',
 'i_mobile',
 'icemobile',
 'infinix',
 'innostream',
 'inq',
 'intex',
 'jolla',
 'karbonn',
 'kyocera',
 'lava',
 'leeco',
 'lenovo',
 'lg',
 'maxon',
 'maxwest',
 'meizu',
 'micromax',
 'microsoft',
 'mitac',
 'mitsubishi',
 'modu',
 'motorola',
 'mwg',
 'nec',
 'neonode',
 'niu',
 'nokia',
 'nvidia',
 'o2',
 'oneplus',
 'oppo',
 'orange',
 'palm',
 'panasonic',
 'pantech',
 'parla',
 'philips',
 'plum',
 'posh',
 'prestigio',
 'qmobile',
 'qtek',
 'razer',
 'realme',
 'sagem',
 'samsung',
 'sendo',
 'sewon',
 'sharp',
 'siemens',
 'sonim',
 'sony',
 'sony_ericsson',
 'spice',
 't_mobile',
 'tecno',
 'tel_me_',
 'telit',
 'thuraya',
 'toshiba',
 'unnecto',
 'vertu',
 'verykool',
 'vivo',
 'vk_mobile',
 'vodafone',
 'wiko',
 'wnd',
 'xcute',
 'xiaomi',
 'xolo',
 'yezz',
 'yota',
 'yu',
 'zte']

In [5]:
other_brands = ['bgh', 'noblex','philco','pcd','sansei','redmi','nextel','panacom','tcl','quantum','top house','doogee','kanji','kodak','pcbox','sky','neso','ken brown','akua','exo','admiral','daewoo','ulefone','figo','datsun','dtc','lumee','woo','overtech','genlus touch']

In [6]:
df=pd.read_csv("cellphoneslisting.csv", sep="")
df["title_new"]=df["title"].apply(normalize)
df.head()

,id,title,sales,unit_sales,title_new
0,1,Nokia Asha 503 Dual Sim Liberado Nuevos Gar...,2996.99,1,nokia asha 503 dual sim liberado nuevos garantia
1,2,Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...,31495.00,5,samsung galaxy a5 a500 16gb refabricado 2gb ra...
2,3,Celular Android Smartphone Liberado 4g Lte Tcl...,77380.00,20,celular android smartphone liberado 4g lte tcl...
3,4,Telefono Celular Lg G7 4g Lte Libre Nuevo Gara...,99997.00,3,telefono celular lg g7 4g lte libre nuevo gara...
4,5,Telefono Celular Lg G7 New Platinum Gray 4g Lt...,219992.00,8,telefono celular lg g7 new platinum gray 4g lt...

## Armado del diccionario filtrador y mapeo
Se arma un diccionario que contiene como claves las marcas, tanto de las scrapeadas como de la lista adicional que declaré antes. 
Como valor contiene el valor de la clave en sí misma en forma de una lista. Había ciertos errores en la escritura o algunos modelos correspondientes en la marca, por lo que decidí agregarlos en la lista de valores según la clave a la que corresponde.
El matching brand-model podría mejorarse como también aquellas palabras que están mal escritas, ver _Consideraciones_.

Luego, invoqué la función definida anteriormente en un map, la cual se aplica para cada valor de la dataframe, asignando su marca correspondiente. Esto se añade a una nueva columna brand de la dataframe.

In [7]:
dict_brands = dict(zip(sorted(brands_gsmarena+other_brands), [[b] for b in sorted(brands_gsmarena+other_brands)]))
dict_brands.update({"apple":["apple", "iphone"]})
dict_brands.update({"motorola":["motorola", "moto", "z2 play"]})
dict_brands.update({"samsung":["samsung", "sansung", "galaxy", "samgung", "samsumg", "samung", "grand prime", "j7 prime", "j5 prime", "j4", ]})
dict_brands.update({"xiaomi":["xiaomi", "xiomi", "xioami"]})
dict_brands.update({"blackberry":["blackberry", "blacberry"]})
dict_brands.update({"oneplus":["oneplus", "one plus"]})
dict_brands.update({"huawey":["huawey", "huawie"]})
dict_brands.update({"alcatel":["alcatel", "alkatel"]})
dict_brands.update({"blu":["blu", "diva flex 2"]})
dict_brands.update({"lg":["lg", "k10"]})
dict_brands['ipro'] =['ipro', 'i-pro']

In [8]:
df['brand'] = df.title_new.map(mapper)

## GroupBy, generación del output y chequeo
Agrupo por marca, lo contalbilizo y ordeno esta agrupación en orden descendente tomando por referencia las unidades vendidas. Hago una proyección/filtrado para que solo me muestre las ventas en pesos y unidades.
En la siguiente linea reseteo el indice, el cual se agrega como columna en la dataframe agrupada.
Finalmente, exporto la dataframe como csv.
La última linea corresponde a un chequeo que hacía sobre el label "otros", para ir viendo los datos, identificando nuevas marcas y algunas incoherencias, por ejemplo para el caso de "liberar icloud", "mayorista de celular", "vidriorepuesto s7 edge", "celulares por mayor", entre otros.
Estos, pueden ser borrados luego de leer los datos de "cellphoneslisting.csv", pero los dejo en este caso para que pueda verse lo que dije anteriormente.

In [9]:
df.groupby('brand').sum().sort_values(by=['unit_sales'], ascending=False)[["sales", "unit_sales"]]

                    sales  unit_sales
brand
samsung       88362251.59        8967
motorola      55379203.59        5624
lg            35185172.47        5490
redmi         29019898.24        2857
xiaomi        31967216.30        2241
huawei        21522076.32        1552
blu            4573255.79        1374
nokia          1632086.18         623
apple         14745584.21         545
otros           877484.27         508
kodak          2438966.90         371
quantum        1681571.40         340
alcatel         898061.60         305
cat            3737548.66         297
tcl            1155051.09         279
yu             1151612.10         269
sony           1845685.33         184
kanji           154712.90         184
bgh             552883.93         163
sky             168944.00         142
panacom         106128.54         108
maxwest         115491.31          85
philco          199929.00          72
noblex          351207.00          56
philips         231739.73          51
blackberry      133972.94          43
zte             168182.76          42
ipro             37276.00          32
honor           299133.59          20
niu             282955.00          20
...                   ...         ...
dtc               5320.00           7
ericsson         23493.60           6
nextel           10853.65           5
parla            30095.99           5
figo              9595.00           5
pcd              21464.70           5
datsun           12395.00           3
doogee           58520.00           3
asus             41749.00           3
archos           10097.00           3
admiral          14397.00           3
top house         2200.00           2
woo               7989.00           2
ken brown         9998.00           2
pcbox             8899.00           2
google            1050.00           2
oneplus          35999.00           2
o2                 238.00           2
htc              17249.99           2
microsoft         1810.00           2
genlus touch      1200.00           1
razer            42499.00           1
oppo             29999.00           1
huawey           15800.00           1
modu              1800.00           1
lumee              861.28           1
inq              31399.00           1
lenovo           17999.00           1
leeco             8750.00           1
overtech          2859.00           1

[68 rows x 2 columns]

In [10]:
output=df.groupby('brand').sum().sort_values(by=['unit_sales'], ascending=False)[["sales", "unit_sales"]].reset_index()
output

           brand        sales  unit_sales
0        samsung  88362251.59        8967
1       motorola  55379203.59        5624
2             lg  35185172.47        5490
3          redmi  29019898.24        2857
4         xiaomi  31967216.30        2241
5         huawei  21522076.32        1552
6            blu   4573255.79        1374
7          nokia   1632086.18         623
8          apple  14745584.21         545
9          otros    877484.27         508
10         kodak   2438966.90         371
11       quantum   1681571.40         340
12       alcatel    898061.60         305
13           cat   3737548.66         297
14           tcl   1155051.09         279
15            yu   1151612.10         269
16          sony   1845685.33         184
17         kanji    154712.90         184
18           bgh    552883.93         163
19           sky    168944.00         142
20       panacom    106128.54         108
21       maxwest    115491.31          85
22        philco    199929.00          72
23        noblex    351207.00          56
24       philips    231739.73          51
25    blackberry    133972.94          43
26           zte    168182.76          42
27          ipro     37276.00          32
28         honor    299133.59          20
29           niu    282955.00          20
..           ...          ...         ...
38           dtc      5320.00           7
39      ericsson     23493.60           6
40        nextel     10853.65           5
41         parla     30095.99           5
42          figo      9595.00           5
43           pcd     21464.70           5
44        datsun     12395.00           3
45        doogee     58520.00           3
46          asus     41749.00           3
47        archos     10097.00           3
48       admiral     14397.00           3
49     top house      2200.00           2
50           woo      7989.00           2
51     ken brown      9998.00           2
52         pcbox      8899.00           2
53        google      1050.00           2
54       oneplus     35999.00           2
55            o2       238.00           2
56           htc     17249.99           2
57     microsoft      1810.00           2
58  genlus touch      1200.00           1
59         razer     42499.00           1
60          oppo     29999.00           1
61        huawey     15800.00           1
62          modu      1800.00           1
63         lumee       861.28           1
64           inq     31399.00           1
65        lenovo     17999.00           1
66         leeco      8750.00           1
67      overtech      2859.00           1

[68 rows x 3 columns]

In [11]:
df[df.brand=="otros"].sort_values(by=['unit_sales'], ascending=False)[["id", "title", "sales", "unit_sales"]]

,id,title,sales,unit_sales
950,951,Celular Libre Barato Super Fino Tipo Tarjeta B...,77870.00,130
99,100,Celular Liberado 5'' Quad Core 8mp + 2mp 1gb ...,271102.00,98
2565,2566,Celular Por Mayor (por Favor Leer Bien La Desc...,47.43,47
3709,3710,Liberar Icloud,5215.00,35
2527,2528,Mayorista De Celular,34.19,34
100,101,Celular Liberado 5'' Quad Core Lte 4g 8mpx 1gb...,86971.00,29
1151,1152,Celular Smartphone 4g Lte Quad Core 5 Pul Dual...,39990.00,10
288,289,Celular Libre Teclas Grandes Basico Camara Radio,6291.00,9
1464,1465,Celulares Por Mayor,8.00,8
518,519,Vidriorepuesto S7 Edge,19600.00,7
2812,2813,Celular Liberado 4g/lte 32gb Metalico Pantalla...,34714.00,6
1650,1651,Celular Android 6.0 Quad Core 4 Outlet,12490.00,5
231,232,Celular Z4 Basico Teclas Econom Libre Nuevo Re...,3995.00,5
324,325,Celular Liberado 5'' Quad Core 8mp + 2mp 1gb R...,16595.00,5
94,95,Celular Android Smartphone 4g Lte Quadcore 5´ ...,14396.00,4
3744,3745,Celulares Con Teclado Númerico,800.00,4
2682,2683,Kit Rural-telefono Celular Fijo Gsm Zona Libre...,26000.00,4
256,257,Smartphone Celular Spanky Facil 4g Adultos May...,20997.00,3
1063,1064,Celular Para Adultos Mayores Nuevo Modelo,7197.00,3
235,236,Audinac Telefono Celular Unlimited A5 Negro,13196.70,3
153,154,Celular Libre Con Teclas Radio Linterna Fuerte...,2397.00,3
1646,1647,Celular Android 7.0 Quad Core Pantalla Grande ...,11994.00,3
1807,1808,Celular Ruggear Rg 160 4gb Ip68 Touch Teclas,13600.00,2
2811,2812,Celular Libre 4g Enova 2g/32g Lector Huella + ...,11198.00,2
2206,2207,Celular Libre 5 Quad Core 1gb 16gb Enova Nova5,6598.00,2
2830,2831,Celular Android 6.0 Quad Core 4 Outlet,4996.00,2
2225,2226,Celular Mi A2 Lite - 4 Ram + 64gb Cámara Dual ...,29089.00,2
1703,1704,Celular Android 6.0 Quad Core 4 Outlet,4996.00,2
1434,1435,Celular Libre 4g Enova 2g/16g Lector Huella + ...,11132.95,2
3061,3062,Celular Liberado Barato Doble Dual Sim Lintern...,1750.00,2
...,...,...,...,...
1286,1287,Celular 4g Android 7.0 Quad Core Pantalla Gran...,8396.00,2
679,680,Celular Android Liberado 4g Oc55 Hd Dualsim 2g...,7998.00,2
521,522,Celular Basicos Con Tapa..libres De Fábrica Co...,2650.00,2
432,433,Celular Con Tapa Teclas Pantalla Camara Cn Tap...,3700.00,2
2653,2654,Celular Libre Barato Super Fino Tarjeta Bt Bot...,1598.00,2
2897,2898,Celular Liberado I-pro Xplay 4g + Sd 16gb King...,5899.00,1
3282,3283,Celular Liberado Barato Doble Dual Sim Lintern...,999.00,1
2832,2833,Celular 4g Android 7.0 Quad Core Pantalla Gran...,4198.00,1
2831,2832,Celular Android 7.0 Quad Core Pantalla Grande ...,3998.00,1
3556,3557,"One Touch Idol 3 Liberado,outlet, Nuevo Promo!!!",4800.00,1
3571,3572,Mi A2 Negro 4gb Ram 64gb Rom,13999.00,1
2786,2787,Z10,1780.00,1
3776,3777,Celular S9 Genérico Libre De Fabrica Nuevos A ...,6000.00,1
1700,1701,Celular Android 7.0 Quad Core Pantalla Grande ...,3998.00,1
2423,2424,Celular Liberado I-pro Jade 7s Android Nuevo ...,6499.00,1
2422,2423,Celular Liberado I-pro Jade 7s Android Nuevo,5399.00,1
2385,2386,Celular Card Phone Zylan Z9.,899.00,1
2207,2208,Celular Libre 6 Quad Core 2gb 16gb Enova Nova6,4999.00,1
1930,1931,Celular Fit Rosa - Dual Sim - Liberado,4999.00,1
1875,1876,Celular 4g Smartphone Lte Android 1gb Flash G...,3199.00,1
1699,1700,Celular Android 7.0 Quad Core Pantalla Grande ...,3998.00,1
1691,1692,Telefono Celular 2g S281 - Ideal Personas Mayores,1799.00,1
1687,1688,Teléfono Celular Modelo H-735ar (g4 Beat),5999.00,1
1649,1650,Teléfono Celular Libre Audinac A5 Blanco 16gb ...,4499.00,1
1319,1320,Celular Senior Adulto Mayor Tercera Edad Numer...,1700.00,1
1208,1209,Celular Para Adultos Mayores Con Tecla Sos Bot...,2399.00,1
514,515,"Celular Liberado Genistouch G7-niños,mayores,c...",1699.00,1
447,448,Celulares Por Mayor Y Menor!!! Increibles Precios,1.00,1
172,173,Celular Cx S400 Libres Dual Sim 1 Año De Garan...,1599.00,1
3895,3896,Telefono Compacto Tarjeta Zylan Z7 Card Phone,770.00,1

<u>Consideraciones:</u>
* Para hacer que esto sea más escalable aún (ya que suele haber publicaciones en donde sólo nombran el modelo), una posible accion es scrapear modelos y vincularlos con su respectiva marca. De tal forma que exista una conexión 1 a muchos (1 brand - Muchos modelos).
* Podría usarse, si se dispone de un data set de marcas completo, un algoritmo que calcule la _Distancia Damerau-Levenshtein_.  El algoritmo se puede utilizar para crear sugerencias de corrección ortográfica, encontrando la palabra más cercana de una lista. Esto podría aplicarse luego de matchear los titles del data set con brand y de matchear modelos con brand, como mencioné en el punto anterior, ya que si lo hacemos de antemano, puede que termine vinculando un modelo con una marca, provocando un error en los datos.
* 7puentes escribió un artículo que hace referencia a este problema del matching de productos: http://www.7puentes.com/blog/2018/10/22/machine-learning-casos-de-negocios/. Podría considerarse también el uso de _TF-IDF_ para ponderar las palabras y de _Random Forest_ como clasificador.